body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body * {
  padding: 5px;
  margin: 5px;
}

input,
textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
}

input:hover,
textarea:hover {
  background-color: #4caf4f60;
  -webkit-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  transition: background-color 800ms linear;
}
